services:
  mysql:
    build: .
    #platform: linux/amd64
    container_name: sakila-db
    ports:
      - "5002:3306"
    env_file:
      - ./.env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./exports:/var/lib/mysql-files 
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mysql_data:
